<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>document</title>
	<link rel="stylesheet" href="">
</head>
<body>
<h1>creacion de usuarios</h1>
	<form method="POST">
		{% csrf_token %}
		{{form.as_p}}
		<input type="submit"  value="Registrar">
	</form>
</body>
</html>