<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>document</title>
	<link rel="stylesheet" href="">
</head>
<body>
{% if not user.is_authenticated %}
	

<h1>Login form</h1>
	<form method="POST">
	 {% csrf_token %}
	 {{ form.as_p }}
	 <input type="submit"  value="login" >
	 {% else %}
	 <h1>Bienvenido {{user.username }}</h1>
	 <a href="/salir/">Salir</a>
{% endif %}
</body>
</html>